package {{ .PackageName }}

import (
	"github.com/splunk/stef/go/pkg"
	"github.com/splunk/stef/go/pkg/codecs"
)

var _ = (*codecs.StringEncoder)(nil)

type WriterState struct {
    limiter pkg.SizeLimiter

    StructFieldCounts StructFieldCounts

    // Dictionaries
    {{range .Dicts -}}
    {{.DictName}} {{.DictTypeNamePrefix}}EncoderDict
    {{end}}

    // Encoders that are being Init-ed, to detect recursion.
    {{range $name, $val := .Encoders -}}
    {{$name}}Encoder *{{$name}}Encoder
    {{end}}

    Allocators Allocators
}

func (d *WriterState) Init(opts *pkg.WriterOptions) {
	d.limiter.Init(opts)

    d.StructFieldCounts.Init(opts.Schema)

    // Init dictionaries
    {{range .Dicts -}}
 	d.{{.DictName}}.Init(&d.limiter)
    {{end}}
}

func (d *WriterState) ResetDicts() {
    d.limiter.ResetDict()
    {{range .Dicts -}}
    d.{{.DictName}}.Reset()
    {{end -}}
}
