package {{ .PackageName }}

import (
	"testing"

	"github.com/stretchr/testify/require"

	"github.com/splunk/stef/go/pkg"
)

func Test{{.StructName}}WriterWrite(t* testing.T) {
	cw := &pkg.MemChunkWriter{}
	stef, err := New{{.StructName}}Writer(cw, pkg.WriterOptions{MaxTotalDictSize: 100})
	require.NoError(t, err)

	err = stef.Write()
	require.NoError(t, err)
}