package {{ .PackageName }};

import net.stef.codecs.*;
import net.stef.schema.*;

public class ReaderState {
    private final CommonFieldCounts structFieldCounts = new CommonFieldCounts();

    // Dictionaries
    {{range .Dicts -}}
    final {{.DictTypeNamePrefix}}DecoderDict {{.DictName}} = new {{.DictTypeNamePrefix}}DecoderDict();
    {{end}}
    // Decoders
    {{range $name, $val := .Encoders -}}
    {{$name}}Decoder {{$name}}Decoder;
    {{end}}
    public void init(WireSchema overrideSchema) {
        structFieldCounts.init(overrideSchema);
        {{range .Dicts -}}
        this.{{.DictName}}.init();
        {{end}}
    }

    // resetDicts resets all dictionaries to initial state. Used when a frame is
    // started with RestartDictionaries flag.
    public void resetDicts() {
        {{range .Dicts -}}
        this.{{.DictName}}.reset();
        {{end}}
    }

    CommonFieldCounts getStructFieldCounts() {
        return structFieldCounts;
    }
}
