package {{ .PackageName }};

public enum {{.EnumName}} {
    {{- range .Fields }}
    {{.Name}}({{.Value}}),
    {{- end }}
    ;

    private final long value;

    private static {{.EnumName}}[] enumValues = {{.EnumName}}.values();

    public static {{.EnumName}} fromValue(long value) {
        return enumValues[(int)value];
    }

    {{.EnumName}}(long value) {
        this.value = value;
    }

    public long getValue() {
        return value;
    }
}
