package {{ .PackageName }};

public enum {{.EnumName}} {
    {{- range .Fields }}
    {{.Name}}({{.Value}}),
    {{- end }}
    ;

    private final long value;

    {{.EnumName}}(long value) {
        this.value = value;
    }

    public long getValue() {
        return value;
    }
}
