package {{ .PackageName }};

public class {{.EnumName}} {
    {{- range .Fields }}
    public static final long {{.Name}} = {{.Value}};
    {{- end }}

    // Private constructor to prevent instantiation
    private {{.EnumName}}() {}
}
