use stef_core::schema::WireSchema;

use crate::*;
use crate::common::StructFieldCounts;

#[derive(Default)]
pub struct ReaderState {
    pub struct_field_counts: StructFieldCounts,

    // Dictionaries
    {{range .Dicts -}}
    pub {{.DictName}}:
    {{- if .IsPrimitive -}}
        {{- if eq .TypeName "String" -}}
            stef_core::codecs::StringDictDecoderDict
        {{- else if eq .TypeName "Bytes" -}}
            stef_core::codecs::BytesDictDecoderDict
        {{- else -}}
            Vec<{{.Storage}}>
        {{- end -}}
    {{- else -}}
        Vec<{{.Storage}}>
    {{- end -}},
    {{end}}

    // Decoders that are currently being init-ed, used for recursion detection.
    {{range $name, $val := .Encoders -}}
    pub {{$name}}Decoder: Option<*mut {{$name}}Decoder>,
    {{end}}
}

impl ReaderState {
    pub fn init(&mut self, override_schema: Option<WireSchema>) {
        self.struct_field_counts.init(override_schema);

        {{range .Dicts -}}
        {{- if .IsPrimitive}}
            {{- if or (eq .TypeName "String") (eq .TypeName "Bytes")}}
        self.{{.DictName}}.init();
            {{- else}}
        self.{{.DictName}}.clear();
            {{- end}}
        {{- else}}
        self.{{.DictName}}.clear();
        {{- end}}
        {{end}}
    }

    // ResetDicts resets all dictionaries to initial state. Used when a frame is
    // started with RestartDictionaries flag.
    pub fn reset_dicts(&mut self) {
        {{range .Dicts -}}
        {{- if .IsPrimitive}}
            {{- if or (eq .TypeName "String") (eq .TypeName "Bytes")}}
        self.{{.DictName}}.reset();
            {{- else}}
        self.{{.DictName}}.clear();
            {{- end}}
        {{- else}}
        self.{{.DictName}}.clear();
        {{- end}}
        {{end}}
    }
}
