use stef_core::{SizeLimiter, WriterOptions};

use crate::*;
use crate::common::StructFieldCounts;

#[derive(Debug, Default)]
pub struct WriterState {
    pub limiter: SizeLimiter,
    pub struct_field_counts: StructFieldCounts,

    // Dictionaries
    {{range .Dicts -}}
    pub {{.DictName}}:
    {{- if .IsPrimitive -}}
        {{- if eq .TypeName "String" -}}
            stef_core::codecs::StringDictEncoderDict
        {{- else if eq .TypeName "Bytes" -}}
            stef_core::codecs::BytesDictEncoderDict
        {{- else -}}
            Vec<{{.Storage}}>
        {{- end -}}
    {{- else -}}
        Vec<{{.Storage}}>
    {{- end -}},
    {{end}}
}

impl WriterState {
    pub fn init(&mut self, opts: &WriterOptions) {
        self.limiter.init(opts);
        self.struct_field_counts.init(opts.schema.clone());

        {{range .Dicts -}}
        {{- if .IsPrimitive}}
            {{- if or (eq .TypeName "String") (eq .TypeName "Bytes")}}
        self.{{.DictName}}.init(&mut self.limiter);
            {{- else}}
        self.{{.DictName}}.clear();
            {{- end}}
        {{- else}}
        self.{{.DictName}}.clear();
        {{- end}}
        {{end}}
    }

    pub fn reset_dicts(&mut self) {
        self.limiter.reset_dict();
        {{range .Dicts -}}
        {{- if .IsPrimitive}}
            {{- if or (eq .TypeName "String") (eq .TypeName "Bytes")}}
        self.{{.DictName}}.reset();
            {{- else}}
        self.{{.DictName}}.clear();
            {{- end}}
        {{- else}}
        self.{{.DictName}}.clear();
        {{- end}}
        {{end}}
    }
}
