use rand::Rng;

use crate::*;
use crate::common::{Allocators, MutateRandomLimiter};

#[derive(Debug, Clone, Copy, PartialEq, Eq, PartialOrd, Ord, Default, serde::Serialize, serde::Deserialize)]
pub enum {{.StructName}}Type {
    #[default]
    None,
{{- range .Fields }}
    {{.Name}},
{{- end }}
}

#[derive(Debug, Clone, PartialEq, PartialOrd, serde::Serialize, serde::Deserialize)]
pub struct {{.StructName}} {
    pub typ: {{.StructName}}Type,
{{- range .Fields }}
    pub {{.name}}: {{- if .Type.Flags.StoreByPtr }}Box<{{end}}{{.Type.Storage}}{{- if .Type.Flags.StoreByPtr }}>{{end}},
{{- end }}
    frozen: bool,
}

impl Default for {{.StructName}} {
    fn default() -> Self {
        let mut s = Self {
            typ: {{.StructName}}Type::None,
{{- range .Fields }}
            {{.name}}: {{- if .Type.Flags.StoreByPtr }}Box::new(Default::default()){{else}}Default::default(){{end}},
{{- end }}
            frozen: false,
        };
        s.init();
        s
    }
}

impl {{.StructName}} {
    pub fn Init(&mut self) {
        self.init();
    }

    pub fn init(&mut self) {
        self.typ = {{.StructName}}Type::None;
        self.frozen = false;
    }

    pub fn init_alloc(&mut self, _allocators: &mut Allocators) {
        self.init();
    }

    pub fn reset(&mut self) {
        self.typ = {{.StructName}}Type::None;
    }

    pub fn freeze(&mut self) {
        self.frozen = true;
    }

    pub fn fix_parent(&mut self) {}

    pub fn type_(&self) -> {{.StructName}}Type {
        self.typ
    }

    pub fn Type(&self) -> {{.StructName}}Type {
        self.type_()
    }

    pub fn reset_contained(&mut self) {}

    pub fn set_type(&mut self, typ: {{.StructName}}Type) {
        if self.typ != typ {
            self.typ = typ;
            self.reset_contained();
            self.mark_parent_modified();
        }
    }

    pub fn SetType(&mut self, typ: {{.StructName}}Type) {
        self.set_type(typ);
    }

{{- range .Fields }}
    pub fn {{.Name}}(&self) -> {{.Type.Exported}} {
        {{if .Type.Flags.StoreByPtr}}(*self.{{.name}}).clone(){{else}}self.{{.name}}.clone(){{end}}
    }

    pub fn Set{{.Name}}(&mut self, v: {{.Type.Exported}}) {
        self.typ = {{$.StructName}}Type::{{.Name}};
        {{if .Type.Flags.StoreByPtr}}self.{{.name}} = Box::new(v);{{else}}self.{{.name}} = v;{{end}}
    }
{{- end }}

    pub fn can_be_shared(&self) -> bool {
        self.frozen
    }

    pub fn clone_shared(&self, _allocators: &mut Allocators) -> Self {
        self.clone()
    }

    pub fn Clone(&self, _allocators: &mut Allocators) -> Self {
        self.clone()
    }

    pub fn byte_size(&self) -> usize {
        core::mem::size_of::<Self>()
    }

    pub fn copy_from(&mut self, src: &{{.StructName}}) {
        *self = src.clone();
    }

    pub fn CopyFrom(&mut self, src: &{{.StructName}}) {
        self.copy_from(src);
    }

    pub fn mark_parent_modified(&mut self) {}

    pub fn set_modified_recursively(&mut self) {}

    pub fn set_unmodified_recursively(&mut self) {}

    pub fn compute_diff(&self, val: &{{.StructName}}) -> bool {
        self != val
    }

    pub fn is_equal(&self, val: &{{.StructName}}) -> bool {
        self == val
    }

    pub fn mutate_random<R: Rng + ?Sized>(&mut self, _random: &mut R, _limiter: &mut MutateRandomLimiter) {
    }
}

pub fn copy_{{.StructName}}(dst: &mut {{.StructName}}, src: &{{.StructName}}) {
    dst.copy_from(src);
}

pub fn copy_to_new_{{.StructName}}(dst: &mut {{.StructName}}, src: &{{.StructName}}, _allocators: &mut Allocators) {
    dst.copy_from(src);
}

pub fn eq_{{.StructName}}(left: &{{.StructName}}, right: &{{.StructName}}) -> bool {
    left == right
}

pub fn cmp_{{.StructName}}(left: &{{.StructName}}, right: &{{.StructName}}) -> i8 {
    if left == right {
        0
    } else if left < right {
        -1
    } else {
        1
    }
}

#[derive(Default)]
pub struct {{ .StructName }}Encoder {
    buf: stef_core::BitsWriter,
    limiter: Option<*mut stef_core::SizeLimiter>,
{{- range .Fields }}
    {{- if .IsPrimitive}}
    {{.name}}_encoder: {{ .Type.EncoderType }}Encoder,
    {{- else}}
    {{.name}}_encoder: Box<{{ .Type.EncoderType }}Encoder>,
    {{- end}}
{{- end }}
}

impl {{ .StructName }}Encoder {
    pub fn init(
        &mut self,
        state: &mut WriterState,
        columns: &mut stef_core::WriteColumnSet,
    ) -> Result<(), stef_core::errors::StefError> {
        self.limiter = Some(&mut state.limiter);
{{- range .Fields }}
        {{- if .IsPrimitive}}
            {{- if .Type.DictName}}
        self.{{.name}}_encoder.init(&mut state.{{.Type.DictName}}, &mut state.limiter, columns.add_sub_column());
            {{- else}}
        self.{{.name}}_encoder.init(&mut state.limiter, columns.add_sub_column());
            {{- end}}
        {{- else}}
        self.{{.name}}_encoder = Box::new(Default::default());
        self.{{.name}}_encoder.init(state, columns.add_sub_column())?;
        {{- end}}
{{- end }}
        Ok(())
    }

    pub fn reset(&mut self) {
{{- range .Fields }}
        self.{{.name}}_encoder.reset();
{{- end}}
    }

    pub fn encode(&mut self, val: &{{ .StructName }}) {
        let old_len = self.buf.bit_count();
        self.buf.write_uvarint_compact(val.typ as u64);
        match val.typ {
{{- range .Fields }}
            {{$.StructName}}Type::{{.Name}} => {
                {{- if .IsPrimitive}}
                    {{- if eq .Type.TypeName "String"}}
                self.{{.name}}_encoder.encode(val.{{.name}}.as_str());
                    {{- else if eq .Type.TypeName "Bytes"}}
                self.{{.name}}_encoder.encode(val.{{.name}}.as_slice());
                    {{- else}}
                self.{{.name}}_encoder.encode({{if .Type.Flags.StoreByPtr}}*val.{{.name}}.as_ref(){{else}}val.{{.name}}{{end}});
                    {{- end}}
                {{- else}}
                    {{- if .Type.Flags.StoreByPtr}}
                self.{{.name}}_encoder.encode(val.{{.name}}.as_ref());
                    {{- else}}
                self.{{.name}}_encoder.encode(&val.{{.name}});
                    {{- end}}
                {{- end}}
            }
{{- end }}
            {{$.StructName}}Type::None => {}
        }
        let new_len = self.buf.bit_count();
        if let Some(ptr) = self.limiter {
            unsafe {
                (*ptr).add_frame_bits((new_len - old_len) as usize);
            }
        }
    }

    pub fn collect_columns(&mut self, column_set: &mut stef_core::WriteColumnSet) {
        column_set.set_bits(&mut self.buf);
{{- if len .Fields }}
        let mut col_idx = 0usize;
{{- end}}
{{- range .Fields }}
        self.{{.name}}_encoder.collect_columns(column_set.at(col_idx));
        col_idx += 1;
{{- end }}
    }
}

#[derive(Default)]
pub struct {{ .StructName }}Decoder {
    buf: stef_core::BitsReader,
    column: Option<*mut stef_core::ReadableColumn>,
{{- range .Fields }}
    {{- if .IsPrimitive}}
    {{.name}}_decoder: {{ .Type.EncoderType }}Decoder,
    {{- else}}
    {{.name}}_decoder: Box<{{ .Type.EncoderType }}Decoder>,
    {{- end}}
{{- end }}
}

impl {{ .StructName }}Decoder {
    pub fn init(
        &mut self,
        state: &mut ReaderState,
        columns: &mut stef_core::ReadColumnSet,
    ) -> Result<(), stef_core::errors::StefError> {
        self.column = Some(columns.column() as *mut stef_core::ReadableColumn);
{{- range .Fields }}
        {{- if .IsPrimitive}}
            {{- if .Type.DictName}}
        self.{{.name}}_decoder.init(&mut state.{{.Type.DictName}}, columns.add_sub_column());
            {{- else}}
        self.{{.name}}_decoder.init(columns.add_sub_column());
            {{- end}}
        {{- else}}
        self.{{.name}}_decoder = Box::new(Default::default());
        self.{{.name}}_decoder.init(state, columns.add_sub_column())?;
        {{- end}}
{{- end }}
        Ok(())
    }

    pub fn continue_(&mut self) {
        let column_ptr = self.column.expect("decoder not initialized");
        let data = unsafe { (&*column_ptr).data().to_vec() };
        self.buf.reset(&data);
{{- range .Fields }}
        self.{{.name}}_decoder.continue_();
{{- end }}
    }

    pub fn reset(&mut self) {
{{- range .Fields }}
        self.{{.name}}_decoder.reset();
{{- end }}
    }

    pub fn decode(&mut self, dst: &mut {{.StructName}}) -> Result<(), stef_core::errors::StefError> {
        let typ = self.buf.read_uvarint_compact() as u32;
        match typ {
            0 => {
                dst.typ = {{.StructName}}Type::None;
            }
{{- range .Fields }}
            x if x == ({{.FieldIndex}}u32 + 1) => {
                dst.typ = {{$.StructName}}Type::{{.Name}};
                {{- if .IsPrimitive}}
                    {{- if eq .Type.TypeName "bool"}}
                self.{{.name}}_decoder.decode(&mut dst.{{.name}});
                    {{- else if eq .Type.TypeName "f64"}}
                self.{{.name}}_decoder.decode(&mut dst.{{.name}});
                    {{- else}}
                self.{{.name}}_decoder.decode(&mut dst.{{.name}})?;
                    {{- end}}
                {{- else}}
                    {{- if .Type.Flags.StoreByPtr}}
                self.{{.name}}_decoder.decode(dst.{{.name}}.as_mut())?;
                    {{- else}}
                self.{{.name}}_decoder.decode(&mut dst.{{.name}})?;
                    {{- end}}
                {{- end}}
            }
{{- end }}
            _ => return Err(stef_core::errors::ERR_INVALID_ONEOF_TYPE),
        }
        Ok(())
    }
}
