use rand::Rng;

use crate::*;
use crate::common::{Allocators, MutateRandomLimiter};

#[derive(Debug, Clone, Copy, PartialEq, Eq, PartialOrd, Ord, Default, serde::Serialize, serde::Deserialize)]
pub enum {{.StructName}}Type {
    #[default]
    None,
{{- range .Fields }}
    {{.Name}},
{{- end }}
}

#[derive(Debug, Clone, PartialEq, PartialOrd, serde::Serialize, serde::Deserialize)]
pub struct {{.StructName}} {
    pub typ: {{.StructName}}Type,
{{- range .Fields }}
    pub {{.name}}: {{- if .Type.Flags.StoreByPtr }}Option<Box<{{.Type.Storage}}>>{{else}}{{.Type.Storage}}{{end}},
{{- end }}
    frozen: bool,
}

impl Default for {{.StructName}} {
    fn default() -> Self {
        let mut s = Self {
            typ: {{.StructName}}Type::None,
{{- range .Fields }}
            {{.name}}: {{- if .Type.Flags.StoreByPtr }}None{{else}}Default::default(){{end}},
{{- end }}
            frozen: false,
        };
        s.init();
        s
    }
}

impl {{.StructName}} {
    pub fn Init(&mut self) {
        self.init();
    }

    pub fn init(&mut self) {
        self.typ = {{.StructName}}Type::None;
        self.frozen = false;
    }

    pub fn init_alloc(&mut self, _allocators: &mut Allocators) {
        self.init();
    }

    pub fn reset(&mut self) {
        self.typ = {{.StructName}}Type::None;
    }

    pub fn freeze(&mut self) {
        self.frozen = true;
    }

    pub fn fix_parent(&mut self) {}

    pub fn type_(&self) -> {{.StructName}}Type {
        self.typ
    }

    pub fn Type(&self) -> {{.StructName}}Type {
        self.type_()
    }

    pub fn reset_contained(&mut self) {
        match self.typ {
{{- range .Fields }}
    {{- if not .IsPrimitive }}
            {{$.StructName}}Type::{{.Name}} => {
        {{- if .Type.Flags.StoreByPtr}}
                if let Some(v) = self.{{.name}}.as_mut() {
                    v.reset();
                }
        {{- else}}
                self.{{.name}}.reset();
        {{- end}}
            }
    {{- end }}
{{- end }}
            _ => {}
        }
    }

    pub fn set_type(&mut self, typ: {{.StructName}}Type) {
        if self.typ != typ {
            self.typ = typ;
            self.reset_contained();
            match typ {
{{- range .Fields }}
    {{- if .Type.Flags.StoreByPtr}}
                {{$.StructName}}Type::{{.Name}} => {
                    if self.{{.name}}.is_none() {
                        self.{{.name}} = Some(Box::new(Default::default()));
                    }
                }
    {{- end }}
{{- end }}
                _ => {}
            }
            self.mark_parent_modified();
        }
    }

    pub fn SetType(&mut self, typ: {{.StructName}}Type) {
        self.set_type(typ);
    }

{{- range .Fields }}
    pub fn {{.Name}}(&self) -> {{.Type.Exported}} {
        {{if .Type.Flags.StoreByPtr}}self.{{.name}}.as_deref().cloned().unwrap_or_default(){{else}}self.{{.name}}.clone(){{end}}
    }

    pub fn Set{{.Name}}(&mut self, v: {{.Type.Exported}}) {
        self.typ = {{$.StructName}}Type::{{.Name}};
        {{if .Type.Flags.StoreByPtr}}self.{{.name}} = Some(Box::new(v));{{else}}self.{{.name}} = v;{{end}}
    }
{{- end }}

    pub fn can_be_shared(&self) -> bool {
        self.frozen
    }

    pub fn clone_shared(&self, _allocators: &mut Allocators) -> Self {
        self.clone()
    }

    pub fn Clone(&self, _allocators: &mut Allocators) -> Self {
        self.clone()
    }

    pub fn byte_size(&self) -> usize {
        core::mem::size_of::<Self>()
    }

    pub fn copy_from(&mut self, src: &{{.StructName}}) {
        *self = src.clone();
    }

    pub fn CopyFrom(&mut self, src: &{{.StructName}}) {
        self.copy_from(src);
    }

    pub fn mark_parent_modified(&mut self) {}

    pub fn set_modified_recursively(&mut self) {}

    pub fn set_unmodified_recursively(&mut self) {}

    pub fn compute_diff(&self, val: &{{.StructName}}) -> bool {
        self != val
    }

    pub fn is_equal(&self, val: &{{.StructName}}) -> bool {
        self == val
    }

    pub fn mutate_random<R: Rng + ?Sized>(&mut self, _random: &mut R, _limiter: &mut MutateRandomLimiter) {
    }
}

pub fn copy_{{.StructName}}(dst: &mut {{.StructName}}, src: &{{.StructName}}) {
    dst.copy_from(src);
}

pub fn copy_to_new_{{.StructName}}(dst: &mut {{.StructName}}, src: &{{.StructName}}, _allocators: &mut Allocators) {
    dst.copy_from(src);
}

pub fn eq_{{.StructName}}(left: &{{.StructName}}, right: &{{.StructName}}) -> bool {
    left == right
}

pub fn cmp_{{.StructName}}(left: &{{.StructName}}, right: &{{.StructName}}) -> i8 {
    if left == right {
        0
    } else if left < right {
        -1
    } else {
        1
    }
}

#[derive(Default)]
pub struct {{ .StructName }}Encoder {
    buf: stef_core::BitsWriter,
    limiter: Option<*mut stef_core::SizeLimiter>,
    field_count: u32,
    type_bit_count: u32,
{{- range .Fields }}
    {{- if .IsPrimitive}}
    {{.name}}_encoder: {{ .Type.EncoderType }}Encoder,
    {{- else}}
    {{.name}}_encoder: Option<Box<{{ .Type.EncoderType }}Encoder>>,
    {{.name}}_encoder_ptr: Option<*mut {{ .Type.EncoderType }}Encoder>,
    is_{{.name}}_recursive: bool,
    {{- end}}
{{- end }}
}

impl {{ .StructName }}Encoder {
    pub fn init(
        &mut self,
        state: &mut WriterState,
        columns: &mut stef_core::WriteColumnSet,
    ) -> Result<(), stef_core::errors::StefError> {
        if state.{{.StructName}}Encoder.is_some() {
            panic!("cannot initialize {{ .StructName }}Encoder: already initialized");
        }
        state.{{.StructName}}Encoder = Some(self as *mut _);
        let init_result = (|| {
            self.limiter = Some(&mut state.limiter);
            self.field_count = state.struct_field_counts.{{.StructName}}_field_count();
            if self.field_count > {{len .Fields}} {
                return Err(stef_core::errors::ERR_TOO_MANY_FIELDS_TO_DECODE);
            }
            self.type_bit_count = 64 - ((self.field_count as u64) + 1).leading_zeros();
{{- range .Fields }}
            if self.field_count <= {{.FieldIndex}} {
                return Ok(());
            }
            {{- if .IsPrimitive}}
                {{- if .Type.DictName}}
            self.{{.name}}_encoder.init(&mut state.{{.Type.DictName}}, &mut state.limiter, columns.add_sub_column());
                {{- else}}
            self.{{.name}}_encoder.init(&mut state.limiter, columns.add_sub_column());
                {{- end}}
            {{- else}}
            if let Some(ptr) = state.{{.Type.EncoderType}}Encoder {
                self.{{.name}}_encoder = None;
                self.{{.name}}_encoder_ptr = Some(ptr);
                self.is_{{.name}}_recursive = true;
            } else {
                let mut enc: Box<{{ .Type.EncoderType }}Encoder> = Box::default();
                enc.init(state, columns.add_sub_column())?;
                self.{{.name}}_encoder_ptr = None;
                self.{{.name}}_encoder = Some(enc);
                self.is_{{.name}}_recursive = false;
            }
            {{- end}}
{{- end }}
            Ok(())
        })();
        state.{{.StructName}}Encoder = None;
        init_result
    }

    pub fn reset(&mut self) {
{{- range .Fields }}
        if self.field_count <= {{.FieldIndex}} {
            return;
        }
        {{- if .IsPrimitive}}
        self.{{.name}}_encoder.reset();
        {{- else}}
        if !self.is_{{.name}}_recursive {
            if let Some(enc) = self.{{.name}}_encoder.as_mut() {
                enc.reset();
            }
        }
        {{- end}}
{{- end}}
    }

    pub fn encode(&mut self, val: &{{ .StructName }}) {
        let mut typ = val.typ as u32;
        if typ > self.field_count {
            typ = 0; // Type not in target schema, encode as None.
        }
        self.buf.write_bits(typ as u64, self.type_bit_count);
        match typ {
{{- range .Fields }}
            x if x == ({{.FieldIndex}}u32 + 1) => {
                {{- if .IsPrimitive}}
                    {{- if eq .Type.TypeName "String"}}
                self.{{.name}}_encoder.encode(val.{{.name}}.as_str());
                    {{- else if eq .Type.TypeName "Bytes"}}
                self.{{.name}}_encoder.encode(val.{{.name}}.as_slice());
                    {{- else}}
                self.{{.name}}_encoder.encode({{if .Type.Flags.StoreByPtr}}*val.{{.name}}.as_ref(){{else}}val.{{.name}}{{end}});
                    {{- end}}
                {{- else}}
                    {{- if .Type.Flags.StoreByPtr}}
                let v = val.{{.name}}.as_ref().expect("oneof selected field not initialized");
                if self.is_{{.name}}_recursive {
                    let ptr = self.{{.name}}_encoder_ptr.expect("oneof field encoder not initialized");
                    unsafe { (*ptr).encode(v.as_ref()); }
                } else if let Some(enc) = self.{{.name}}_encoder.as_mut() {
                    enc.encode(v.as_ref());
                }
                    {{- else}}
                if self.is_{{.name}}_recursive {
                    let ptr = self.{{.name}}_encoder_ptr.expect("oneof field encoder not initialized");
                    unsafe { (*ptr).encode(&val.{{.name}}); }
                } else if let Some(enc) = self.{{.name}}_encoder.as_mut() {
                    enc.encode(&val.{{.name}});
                }
                    {{- end}}
                {{- end}}
            }
{{- end }}
            _ => {}
        }
        if let Some(ptr) = self.limiter {
            unsafe {
                (*ptr).add_frame_bits(self.type_bit_count as usize);
            }
        }
    }

    pub fn collect_columns(&mut self, column_set: &mut stef_core::WriteColumnSet) {
        column_set.set_bits(&mut self.buf);
{{- if len .Fields }}
        let mut col_idx = 0usize;
{{- end}}
{{- range .Fields }}
        if self.field_count <= {{.FieldIndex}} {
            return;
        }
        {{- if .IsPrimitive}}
        self.{{.name}}_encoder.collect_columns(column_set.at(col_idx));
        col_idx += 1;
        {{- else}}
        if !self.is_{{.name}}_recursive {
            if let Some(enc) = self.{{.name}}_encoder.as_mut() {
                enc.collect_columns(column_set.at(col_idx));
                col_idx += 1;
            }
        }
        {{- end}}
{{- end }}
    }
}

#[derive(Default)]
pub struct {{ .StructName }}Decoder {
    buf: stef_core::BitsReader,
    column: Option<*mut stef_core::ReadableColumn>,
    field_count: u32,
    type_bit_count: u32,
{{- range .Fields }}
    {{- if .IsPrimitive}}
    {{.name}}_decoder: {{ .Type.EncoderType }}Decoder,
    {{- else}}
    {{.name}}_decoder: Option<Box<{{ .Type.EncoderType }}Decoder>>,
    {{.name}}_decoder_ptr: Option<*mut {{ .Type.EncoderType }}Decoder>,
    is_{{.name}}_recursive: bool,
    {{- end}}
{{- end }}
}

impl {{ .StructName }}Decoder {
    pub fn init(
        &mut self,
        state: &mut ReaderState,
        columns: &mut stef_core::ReadColumnSet,
    ) -> Result<(), stef_core::errors::StefError> {
        if state.{{.StructName}}Decoder.is_some() {
            panic!("cannot initialize {{ .StructName }}Decoder: already initialized");
        }
        state.{{.StructName}}Decoder = Some(self as *mut _);
        let init_result = (|| {
            self.column = Some(columns.column() as *mut stef_core::ReadableColumn);
            self.field_count = state.struct_field_counts.{{.StructName}}_field_count();
            if self.field_count > {{len .Fields}} {
                return Err(stef_core::errors::ERR_TOO_MANY_FIELDS_TO_DECODE);
            }
            self.type_bit_count = 64 - ((self.field_count as u64) + 1).leading_zeros();
{{- range .Fields }}
            if self.field_count <= {{.FieldIndex}} {
                return Ok(());
            }
            {{- if .IsPrimitive}}
                {{- if .Type.DictName}}
            self.{{.name}}_decoder.init(&mut state.{{.Type.DictName}}, columns.add_sub_column());
                {{- else}}
            self.{{.name}}_decoder.init(columns.add_sub_column());
                {{- end}}
            {{- else}}
            if let Some(ptr) = state.{{.Type.EncoderType}}Decoder {
                self.{{.name}}_decoder = None;
                self.{{.name}}_decoder_ptr = Some(ptr);
                self.is_{{.name}}_recursive = true;
            } else {
                let mut dec: Box<{{ .Type.EncoderType }}Decoder> = Box::default();
                dec.init(state, columns.add_sub_column())?;
                self.{{.name}}_decoder_ptr = None;
                self.{{.name}}_decoder = Some(dec);
                self.is_{{.name}}_recursive = false;
            }
            {{- end}}
{{- end }}
            Ok(())
        })();
        state.{{.StructName}}Decoder = None;
        init_result
    }

    pub fn continue_(&mut self) {
        let column_ptr = self.column.expect("decoder not initialized");
        let data = unsafe { (&*column_ptr).data().to_vec() };
        self.buf.reset(&data);
{{- range .Fields }}
        if self.field_count <= {{.FieldIndex}} {
            return;
        }
        {{- if .IsPrimitive}}
        self.{{.name}}_decoder.continue_();
        {{- else}}
        if !self.is_{{.name}}_recursive {
            if let Some(dec) = self.{{.name}}_decoder.as_mut() {
                dec.continue_();
            }
        }
        {{- end}}
{{- end }}
    }

    pub fn reset(&mut self) {
{{- range .Fields }}
        if self.field_count <= {{.FieldIndex}} {
            return;
        }
        {{- if .IsPrimitive}}
        self.{{.name}}_decoder.reset();
        {{- else}}
        if !self.is_{{.name}}_recursive {
            if let Some(dec) = self.{{.name}}_decoder.as_mut() {
                dec.reset();
            }
        }
        {{- end}}
{{- end }}
    }

    pub fn decode(&mut self, dst: &mut {{.StructName}}) -> Result<(), stef_core::errors::StefError> {
        let typ = self.buf.read_bits(self.type_bit_count) as u32;
        if typ > self.field_count {
            return Err(stef_core::errors::ERR_INVALID_ONEOF_TYPE);
        }
        let decoded_type = match typ {
            0 => {{.StructName}}Type::None,
{{- range .Fields }}
            x if x == ({{.FieldIndex}}u32 + 1) => {{$.StructName}}Type::{{.Name}},
{{- end }}
            _ => return Err(stef_core::errors::ERR_INVALID_ONEOF_TYPE),
        };

        if dst.typ != decoded_type {
            dst.typ = decoded_type;
            // Reset the newly selected field to avoid carrying state from older records.
            dst.reset_contained();
        }

        match dst.typ {
            {{.StructName}}Type::None => {}
{{- range .Fields }}
            {{$.StructName}}Type::{{.Name}} => {
            {{- if .IsPrimitive}}
                {{- if or (eq .Type.TypeName "bool") (eq .Type.TypeName "f64")}}
                self.{{.name}}_decoder.decode_result(&mut dst.{{.name}})?;
                {{- else}}
                self.{{.name}}_decoder.decode(&mut dst.{{.name}})?;
                {{- end}}
            {{- else}}
                {{- if .Type.Flags.StoreByPtr}}
                if dst.{{.name}}.is_none() {
                    dst.{{.name}} = Some(Box::new(Default::default()));
                }
                let v = dst.{{.name}}.as_mut().unwrap();
                if self.is_{{.name}}_recursive {
                    let ptr = self.{{.name}}_decoder_ptr.expect("oneof field decoder not initialized");
                    unsafe { (*ptr).decode(v.as_mut())?; }
                } else if let Some(dec) = self.{{.name}}_decoder.as_mut() {
                    dec.decode(v.as_mut())?;
                }
                {{- else}}
                if self.is_{{.name}}_recursive {
                    let ptr = self.{{.name}}_decoder_ptr.expect("oneof field decoder not initialized");
                    unsafe { (*ptr).decode(&mut dst.{{.name}})?; }
                } else if let Some(dec) = self.{{.name}}_decoder.as_mut() {
                    dec.decode(&mut dst.{{.name}})?;
                }
                {{- end}}
            {{- end}}
            }
{{- end }}
        }
        if let Some(err) = self.buf.error() {
            return Err(std::io::Error::from(err).into());
        }
        Ok(())
    }
}
