use std::cell::RefCell;
use std::collections::HashMap;
use std::io::{self, Read};
use std::rc::Rc;

use crate::*;
use crate::reader_state::ReaderState;

struct SharedRead<R: Read> {
    inner: Rc<RefCell<R>>,
}

impl<R: Read> SharedRead<R> {
    fn new(source: R) -> Self {
        Self {
            inner: Rc::new(RefCell::new(source)),
        }
    }
}

impl<R: Read> Clone for SharedRead<R> {
    fn clone(&self) -> Self {
        Self {
            inner: Rc::clone(&self.inner),
        }
    }
}

impl<R: Read> stef_core::ByteAndBlockReader for SharedRead<R> {
    fn read_byte(&mut self) -> io::Result<u8> {
        let mut buf = [0u8; 1];
        self.inner.borrow_mut().read_exact(&mut buf)?;
        Ok(buf[0])
    }

    fn read_block(&mut self, dst: &mut [u8]) -> io::Result<usize> {
        self.inner.borrow_mut().read(dst)
    }
}

pub struct {{.StructName}}Reader<R: Read> {
    base: stef_core::basereader::BaseReader<SharedRead<R>>,
    decoder: Box<{{.StructName}}Decoder>,
    state: ReaderState,
    decoder_inited: bool,

    pub record: {{.StructName}},
}

impl<R: Read> {{.StructName}}Reader<R> {
    pub fn new(source: R) -> Result<Self, stef_core::errors::StefError> {
        let mut base = stef_core::basereader::BaseReader::default();
        base.init(SharedRead::new(source))?;

        let mut reader = Self {
            base,
            decoder: Box::<{{.StructName}}Decoder>::default(),
            state: ReaderState::default(),
            decoder_inited: false,
            record: {{.StructName}}::default(),
        };
        reader.init_schema()?;
        Ok(reader)
    }

    fn init_schema(&mut self) -> Result<(), stef_core::errors::StefError> {
        let own_schema = {{.StructName}}_wire_schema()?;
        self.base.read_var_header(&own_schema)?;

        self.state.init(self.base.schema.clone());
        Ok(())
    }

    fn ensure_decoder_init(&mut self) -> Result<(), stef_core::errors::StefError> {
        if !self.decoder_inited {
            self.decoder.init(&mut self.state, &mut self.base.read_bufs.columns)?;
            if !self.state.struct_field_counts.all_fetched() {
                return Err(stef_core::errors::StefError::message(
                    "override schema iterator is not done, decoded data schema is likely incompatible",
                ));
            }
            self.decoder_inited = true;
        }
        Ok(())
    }

    pub fn header(&self) -> &stef_core::FixedHeader {
        &self.base.fixed_header
    }

    pub fn user_data(&self) -> &HashMap<String, String> {
        &self.base.var_header.user_data
    }

    pub fn record_count(&self) -> u64 {
        self.base.record_count
    }

    pub fn read(&mut self, opts: stef_core::ReadOptions) -> Result<(), stef_core::errors::StefError> {
        self.ensure_decoder_init()?;
        while self.base.frame_record_count == 0 {
            if opts.till_end_of_frame {
                return Err(stef_core::errors::StefError::decode("end of frame"));
            }
            self.next_frame()?;
        }
        self.base.frame_record_count -= 1;
        self.base.record_count += 1;

        self.decoder.decode(&mut self.record)
    }

    fn next_frame(&mut self) -> Result<(), stef_core::errors::StefError> {
        let frame_flags = self.base.next_frame()?;
        if frame_flags.has(stef_core::FrameFlags::RESTART_DICTIONARIES) {
            // The frame that has just started indicates that the dictionaries
            // must be restarted. Reset all dictionaries.
            self.state.reset_dicts();
        }
        if frame_flags.has(stef_core::FrameFlags::RESTART_CODECS) {
            // The frame that has just started indicates that the decoders
            // must be restarted.
            self.decoder.reset();
        }
        self.decoder.continue_();
        Ok(())
    }

    pub fn schema(&self) -> Option<&stef_core::schema::WireSchema> {
        self.base.schema.as_ref()
    }
}
